*{
    box-sizing: border-box;
}
#login-title{
    text-align: center;
    color:white;
    font-size: 38px;
    font-weight: 700;
}
#login-title:hover{
    cursor: default;

}

.logincontainer{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("../../Assets/clgimage.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
 
}

.login-mailid{
    margin-top: 30px;
}
.login-password{
    margin-top: 20px;
}

.Loginform {
    margin: auto;
    width: 400px;
    height: fit-content;
    border-radius: 30px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.27);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.68);
    backdrop-filter: blur(3.6px);
    
    animation: fadeIn 0.8s ease-in-out forwards;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(80px); }
    to { opacity: 1; transform: translateY(0); }
}

.Loginform:hover {
    /* transform: scale(1.05) rotate(2deg); */
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.2);
}

.form{
    color: #fafafa;
    margin: 10%;
}
.forgotpassword{
    margin-top: 5px;
    margin-bottom: 25px;
    color: #fafafa;
    text-align: right;
}
#forgotpassword{
    text-decoration: none;
}

.password-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .password-box input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    
  }
  
  input:focus, input:active {
    border-color: #ccc !important;  
    background-color: white !important; 
    outline: none;
  }
  
  .eye-icon {
    position: absolute;
    right: 12px;
    cursor: pointer;
    font-size: 20px;
    color: rgba(1, 119, 193, 0.7) ;
  }
  
  .eye-icon:hover {
    color: #097fc4;
  }
.login-button-space{
    text-align:center;
    margin-top: 15px;
    
}
.or{
    margin-top: 20px;
    color: #fafafa;
    text-align: center;
}
.new-register:hover{
    cursor: pointer;

}
input[type="password"]{
    width: 100%;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 20px;
    border: none;
    height: 40px;
}
#input-mail{
    background-color: #fafafa;
} 


@media (width<=600px) {
    .Loginform{
        width: 85%;
    }
    #forgotpassword{
        font-size: small;
    }

}