/* From Uiverse.io by vinodjangid07 */ 
.logout-Btn {
  width: 42%;
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-color: lavender;
  border-radius: 10px;
  border: none;
  color: black ;
  font-size: 15px;
}
.logout-Btn:hover {
  background-color: #ffffff;
  cursor: pointer;
}

