.landing-section{
  width: 99vw;
  height:fit-content;
  position: relative;
  margin-top: 120px;
}

.clgimg-container{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position:relative;
  display: flex;
}
.clgimg-container img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.clgimg-container::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(170deg ,#0177C1,#085d92e1,#87d0eb99,#5088baea,#298ecda6);
}
.text-overimg{
  color: white;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 54px;
  margin-top: 60px;
  text-shadow: 2px 2px 4px rgba(6, 6, 6, 0.666);
}
 .clgimg-container .subhead-overimg{
  color: white;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
  margin-top: 150px;
  text-shadow: 2px 2px 4px rgba(6, 6, 6, 0.666);
}

.loginbnt{
  position: absolute;
  z-index: 2;
  font-size: 20px;
  margin-top: 15rem;
  width: 100%;
  display: flex;
  justify-content: center;

}

.loginbnt button{
  width: 10%;
  padding: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  font-weight: 600;
  background:linear-gradient(120deg,#0177C1,#1d5577);
  /* background-color: rgb(111, 185, 111); */
  box-shadow: 0px 1px 8px  rgba(255, 255, 255, 0.701);
}


.landing-features{
  width: 100%;
  height: fit-content;
  background-color:whitesmoke;
  /* background-color: #000000d2; */
  padding: 20px;
}
.landing-features h1{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  font-family:'Oxygen';
  margin-top: 60px;
  color: rgb(18, 18, 18);
}
.erp-features-grid{
  width: 100%;
  height:100%;
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 7rem;
  justify-items: center; 
  margin: 20px auto; 
  margin-top: 30px;
}
.erp-features-box{
  width: 550px;
  height: 350px;
  background-color:rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(164, 163, 163, 0.671);
}
.erp-features-box h3{
  font-size: 22px;
}
.erp-features-box .module-img{
  width: 100%;
  height: 120px;
  object-fit:cover;
  margin-top: 10px;
  border-radius: 10px;
}
.erp-features-box .icon-img {
  width: 50px;
  height:50px;

}
.erp-features-box .module-description{
  width: 100%;
  height: 77px;
  padding: 10px;
  color: #000000;
  background-color: whitesmoke;
  border-radius: 10px;
}
.features-description-para{
  /* background-color: rebeccapurple; */
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: rgb(21, 20, 20);
  text-transform: capitalize;
}

.landing-navbar{
  background-color: rebeccapurple;
}