.landing-section{
  width: 99vw;
  height:fit-content;
  position: relative;
}

.clgimg-container{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position:relative;
  display: flex;
}
.clgimg-container img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transform: scaleX(-1);
}
.clgimg-container::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(170deg ,#0177C1,#085d92e1,#6dcdf07d,#5088baea,#298ecda6);
}

.landing-clg-name{
    text-align: center;
    font-family: outfit,popins;
    font-size: clamp(12px,3vw,16px);
    color: #ffffff;
    margin: auto; 
  }

.loginbnt{
  position: absolute;
  z-index: 2;
  font-size: 20px;
  margin-top: 15rem;
  width: 100%;
  display: flex;
  justify-content: center;

}

.loginbnt button{
  width: 10%;
  padding: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  font-weight: 600;
  background:linear-gradient(120deg,#0177C1,#1d5577);
  /* background-color: rgb(111, 185, 111); */
  box-shadow: 0px 1px 8px  rgba(255, 255, 255, 0.701);
}


.landing-features{
  width: 100%;
  height: fit-content;
  background-color:whitesmoke;
  /* background-color: #000000d2; */
  padding: 20px;
}
.landing-features h1{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  font-family:'Oxygen';
  margin-top: 60px;
  color: rgb(18, 18, 18);
}
.erp-features-grid{
  width: 100%;
  height:100%;
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 7rem;
  justify-items: center; 
  margin: 20px auto; 
  margin-top: 30px;
}
.erp-features-box{
  width: 550px;
  height: 350px;
  background-color:rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(164, 163, 163, 0.671);
}
.erp-features-box h3{
  font-size: 22px;
}
.erp-features-box .module-img{
  width: 100%;
  height: 120px;
  object-fit:cover;
  margin-top: 10px;
  border-radius: 10px;
}
.erp-features-box .icon-img {
  width: 50px;
  height:50px;

}
.erp-features-box .module-description{
  width: 100%;
  height: 77px;
  padding: 10px;
  color: #000000;
  background-color: whitesmoke;
  border-radius: 10px;
}
.features-description-para{
  /* background-color: rebeccapurple; */
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: rgb(21, 20, 20);
  text-transform: capitalize;
}

.landing-navbar{
  background-color: transparent;
}

.landing-header{
  display: flex;
  flex-direction:row;
  width: 100%;
  background-color: transparent;

}
.landing-header-section{
z-index: 3;
display: flex;
align-items: center;
justify-content: space-around;
padding: 10px;
position:absolute;
width: 100vw;
z-index: 10;
height: 120px;
}
.clg-name{
    text-align: center;
    font-family: outfit,popins;
    font-size: clamp(12px,3vw,16px);
    color: #ffffff;
    margin: auto;
}
.landing-clglogo{
    width: 110px;  
    margin-left: 50px;
    transform: scaleX(-1);
}

.landing-tamilnadu-logo{
    width: 90px;
    margin-right: 70px;
    transform: scaleX(-1);
}


.landing-heading-para{
  width:40%;
  position: absolute;
  z-index: 3;
  padding: 60px;
  margin-top: 200px;
  padding: 40px;
  /* right: 0;
  margin-right: 60px; */
  margin-left: 60px;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.landing-heading-para h1{
  font-size: 45px;
}
.landing-heading-para p{
  font-size: 20px;
  margin-top: 50px;
}

.navbar-button{
  z-index: 2;
  position: absolute;
  right: 0;
  margin-right:6rem;
  margin-top: 10rem;
}
.navbar-list{
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction:row;
  padding: 20px;
  gap: 20px;
}

.navbar-list li a{
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-weight: 500;
}

.navbar-list li button{
  padding: 10px 40px;
  border-radius: 10px;
  background:linear-gradient(120deg, #56bdfdef,#037bc5c9,#56bdfdef);
  border: 2px  solid rgba(255, 255, 255, 0.315);
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.navbar-list li a:hover{
  background-color: #0177C1;
}
.navbar-list li button:hover{
  background-color: #135e8d;
  transform: scale(1.03);
}

.floating-obj{
  /* background-color: rebeccapurple  ; */
  z-index: 5;
  position:absolute;
  width: 30%;
  height:50%;
  right: 10rem;
  bottom: 50px;
  display: flex;
  gap: 30px;
}
.float-images-up {
  width: 80px;
  height: 80px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: floatBlob 6s ease-in-out infinite;
}
.float-images-down {
  width: 80px;
  height: 80px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  /* animation: floatBlob 6s ease-in-out infinite; */
  animation: floatBlobUp 6s ease-in-out infinite;


}

@keyframes floatBlob {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateX(-16px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes floatBlobUp {
   0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateY(-16px);
  }
  50% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateX(0px);
  }
}

.float-images img{
  width: 40px;
  height: 40px;
}