.bonafide-container{
    width: 99vw;
    height: fit-content;
}
.bonafide-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:white;
}

.bonafide-heading-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #123458;
    padding: 20px;
}

.bonafide-display-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.bonafide-display-container h2 {
    color:#0582ca;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
}
.bonafide-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 90px; 
    row-gap: 70px;
    justify-items: center; 
    margin: 20px auto;
    max-width: 80%; 
    margin-top: 40px;
}

.bonafide-card {
    border-radius: 8px;
    width: 300px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1px; */
}

.bonafide-card .bonafide-card-image {
    width: 100%; 
    height: 100%;
    object-fit: contain; 
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288);
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.bonafide-card-image:hover{
    filter: blur(0.8px);
    transform: scale(1.02);
}
.bonafide-card h3{
    position: absolute;
    color:white;
    background: rgba(0, 0, 0, 0.152);
    padding: 7px;
    border-radius: 8px; 
}

.bonafide-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 390px;
    width: 340px;
    padding: 15px;
    background-color:#f5f3f4;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 20px auto;
}

.bonafide-card-description{
    width: 100%;
    height:170px;
    padding: 10px;
    font-size: 17px;
    font-weight: 400;
    background-color: #cbeef3;
    border-radius: 8px;
    
}
.bonafide-card-description h4{
   color: #003f88;
   text-align: center;

}
.bonafide-card-description {
    position: relative; 
}

.bonafide-card-description .apply-here-btn {
    font-size: 14px;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 8px;
    background-color: #083d77;
    color: #ebebd3;
    border-style: none;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -10px;        /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
}
.apply-here-btn:hover{
    background-color: #0582ca;
    color: #ffffff;
}

/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}
.modal-content {
    background-color: #fff;
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease;
}

.modal-content h3 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}

.modal-content ul {
    list-style: none;
    color: white;
    padding: 0;
    margin: 0;
}

.modal-content ul li {
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: #2c4b8f;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: capitalize;
}

.modal-content ul li:hover {
    background-color: #bbdae7;
    color:#001F3F;
    font-weight: 600;
}
.modal-content ul li:hover::after {
    content: "Click to Apply";
    position: absolute;
    left: 80px;
    background-color: rgba(0, 0, 0, 0.289);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color:red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #c50000;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}


.file-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    text-align: center;
}
.modal-content ul li{
    color: white;
}

.file-upload-modal h3 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}

.file-upload {
    margin-bottom: 20px;
    text-align: left;
}

.file-upload label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

.file-upload input[type="file"],
.academic-year input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 5px;
}

.file-upload-buttons  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.file-upload-buttons .close-button{
    background: linear-gradient(90deg, #8c0000, #ff0000);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.file-upload-buttons .submit-button{
    background: linear-gradient(90deg,rgb(0, 35, 142),rgb(74, 166, 241));
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.company-name-input {
    margin-bottom: 15px;
}

.company-name-input input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
}

.confirmation-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.confirmation-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirmation-buttons button:hover {
    background-color: #0056b3;
}

/* disabling bonafides based on constraints */
.bonafide-card.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
.apply-here-btn.disabled {
    background-color: gray;
    cursor: not-allowed;
    display: block;
    text-align: center
}

/* eligibility  */
.bonafide-eligibility-container {
    width: 99vw;
    height: 40vh;
    background-color:whitesmoke;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 10px;
}

.bonafide-eligibility-container .eligibility-box{
    width: 64%;
    height: 100%;
    box-sizing: border-box;
    color: rgb(13, 13, 13);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px ;
    
}
.eligibility-box ul{
    width: 90%;
    padding-left: 0;
    overflow-y: scroll; 
    background-color: rgb(51, 121, 167); 
    color: #ffffff;
}
.eligibility-box li {
    position: relative;
    list-style:circle;
    color: #ffffff;
    padding-left: 24px;
    margin-bottom: 12px;
    line-height: 1.6;
    font-size: 1rem;
}
.eligibility-box li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 1rem;
}

.bonafide-eligibility-container .events-list-box{
    width:36%;
    height: 100%;
    padding: 20px;
    background-color: #001F3F;
}
.events-head{
    background-color: #f3ac33;
    color: white;
    padding: 10px;
    border-radius: 8px;
    height: 20%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

