.back-button{
    width: 6%;
    height: 4vh;
    font-size: 17px;
    color: white;
    padding: 4px 4px 4px 2px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: linear-gradient(90deg,rgb(13, 59, 138) 0%, rgb(37, 150, 195) 100%);
    margin-bottom: 10px;
}
.feather {
    width: 20px;
    height: 20px;
}
