.student_and_faculty_profile {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}



#view_student_profiles,
#view_faculty_profiles {

    all: unset;
    padding: 50px 30px;
    background: linear-gradient(109deg, rgba(1, 119, 193, 0.7) -3%, rgba(0, 102, 165, 0.9) 48%, #004B79 103%);
    color: #fff;
    font-size: large;
    height: 80px;
    border-radius: 20px;
}

#view_student_profiles,
#view_faculty_profiles:hover {
    cursor: pointer;
}

.Headofthedepartmentdashboard_footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

}

.hod-whole {
    background-color: #28166f;
    width: 99vw;
    height: 100vh;
    display: flex;
    padding: 33px 43px 30px 47px;
}

.hod-content {
    background-color: #ffffff31;
    width: 95%;
    height: 91.2%;
    position: absolute;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.hod-bar {
    width: 15%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.hod-bar h2 {
    color: white;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 55px;
    text-align: center;
}

.hod-bar h4 {
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
    width: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px 2px 4px;
    gap: 10px;
}
.hod-bar h4:hover {
    background-color: rgba(255, 255, 255, 0.289);
}

 .welcome-bar{
    background-color: whitesmoke;
    width: 77%;
    height: 6%;
    position: absolute;
    top: 0;
    margin-left: 16rem;
    padding: 10px 20px 10px 20px ;
    font-size: 19px;
    text-transform: capitalize;
    font-weight: 400;
    overflow: hidden;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
 }


.hod-top-dashboard {
    background-color: rgba(230, 230, 250, 0.601);
    width: 82vw;
    height: 100%;
    position: absolute;
    left: 17.18%;
    margin-top: -33px;
}
.bonafide-hod{
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer;
    width: 14rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px 2px 4px;
}
.hod-bar .hod-logout{
    align-items:center;
    margin-top: 17rem;
    font-size: 19px;
    font-weight: 400;
}