.count-of-bonafide{
  color:#FFFFF0; 
  background-color:orangered;
  width:fit-content;
  height:fit-content;
  padding: 2px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 40%;
  margin-top: -23%;
}