.header{
display: flex;
align-items: center;
justify-content: space-around;
padding: 10px;
position: fixed;
width: 100vw;
background-color:rgb(255, 255, 255);
z-index: 2001;
height: 120px;
}

.non-fixed{
display: flex;
align-items: center;
justify-content: space-around;
padding: 10px;
position:relative;
width: 100vw;
background-color:rgb(255, 255, 255);
z-index: 2001;
height: 120px;

}

.header:hover{
    cursor: default;
}
/* #header-line{
    background-color: #002133;
    width: 96%;
    height: 2px;
    margin: auto;
} */
.clg-name{
    text-align: center;
    font-family: outfit,popins;
    font-size: clamp(12px,3vw,16px);
    color: #002133;
    margin: auto;
}
.clglogo{
    width: 110px;  
    margin-left: 50px;
}

.tamilnadu-logo{
    width: 90px;
    margin-right: 70px;
}

@media (width<=600px) {
    .clglogo{
        width: 90px;   
    }
    .tamilnadu-logo{
        width: 80px;
    }
   
}
